resources/**
!resources/fonts/*
!resources/**/
!.gitkeep
test_lmdb
test_result

.idea
venv/
bin/
lib/
log/
pyvenv.cfg
# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# C extensions
*.so

/inference/
/inference_results/
/output/
/inference_rec/

*.DS_Store
*.vs
*.user
*~
*.vscode
*.idea

*.log
.clang-format
.clang_format.hook

build/
dist/
paddleocr.egg-info/
/deploy/android_demo/app/OpenCV/
/deploy/android_demo/app/PaddleLite/
/deploy/android_demo/app/.cxx/
/deploy/android_demo/app/cache/